
<div class="page-header">
  <h2>
    Babylon-Bibliographie
    <small>literature.babylon-online.org</small>
  </h2>
</div>


<div class="row" style="margin:60px 0;">
  <div class="col-md-9 col-centered">
    <%= render "shared/search" %>
  </div>
</div>


<p>
  The Babylon bibliography is a project directed by Olof Pedersén and Eva Cancik-Kirschbaum. Raija Mattila, 
  Helsinki, did most of the original collection of references. Later Felix Levenson, Berlin, made structural 
  changes to the material. The bibliographical information is available as Open Access.
</p>

<div class="row" style="margin:60px 0;">
  <%= content_tag :div, class: 'col-md-12' do %>
    <%= line_chart Subject.where.not(type: ['Issue', 'Collection', 'Proceeding', 'Reference']).where("length(published_date) < 5").group(:published_date).count, points: false %>
    <%= content_tag :p, 'Publications on Babylon since 1800 (Containers = Issues, Collections, Proceedings, Reference books and publication ranges excluded).', class: 'small text-muted' %>
  <% end %>
</div>
<div class="row">
  <%= content_tag :div, class: 'col-md-6 tag-cloud' do %>
    <% tag_cloud(@tags, %w(css1 css2 css3 css4)) do |tag, css_class| %>
      <%= link_to tag.name, subjects_path('filterrific[search]': "tag:'#{tag.name}'"), id: tag.name, class: css_class %>
    <% end %>
  <% end if @tags %>
  <%= content_tag :div, class: 'col-md-6' do %>
    <%= pie_chart Subject.group(:type).count %>
  <% end %>
</div>