<% title "Overview" %>

<p>Current User: <%= current_user.inspect %></p>
<p>Token: <%= session[:access_token] %></p>

<%= session[:expires_at] %>::<%= Time.now.to_i %>
<p>Current User Data in babili/api/me: <%= @data %></p>

<p>CiteAPI</p>
<p>Suche</p>
<p>Import</p>
<p>Export</p>
<p>Vorwort auf Startseite</p>
<p>user notes (public/personal)</p>
<p>Sortierung</p>
<p>index 'a' weg bei scope cite_base < 2, update alle nachfolgenden falls cite_base_changed?</p>