<%= simple_form_for(@subject, html: { class: 'form-horizontal' }) do |f| %>
  <% if @subject.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(subject.errors.count, "error") %> prohibited this subject from being saved:</h2>

      <ul>
      <% subject.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :type %>
    <%= f.select :type, Subject.types.map {|t| [t.humanize, t.camelcase]}, 
      {}, disabled: @type != "Subject" %>
  </div>
  
  <%= f.input :creator_list, collection: Creator.order(lname: :asc), label_method: :name, value_method: :name, label: "Creators", selected: @subject.creators.map(&:name), input_html: {multiple: true, id: 'creator_names'} %>

  <%= f.input :title %>
  <%= f.input :subtitle %>
  <%= f.input :published_date %>

  <div class="field">
    <%= f.label :parent_id %>
    <%= f.number_field :parent_id %>
  </div>
  
  <%= f.input :volume %>

  <div class="field">
    <%= f.label :publisher_id %>
    <%= f.number_field :publisher_id %>
  </div>

  <div class="field">
    <%= f.label :place_id %>
    <%= f.number_field :place_id %>
  </div>
    
  <hr>

  <%= f.input :first_page %>
  <%= f.input :last_page %>
  <%= f.input :page_count %>

  <hr>
  
  <%= f.input :abbr %>
  <%= f.input :edition %>
  <%= f.input :language %>

  <hr>

  <div class="field">
    <%= f.label :g_volume_id %>
    <%= f.text_field :g_volume_id %>
  </div>

  <div class="field">
    <%= f.label :g_canonical_link %>
    <%= f.text_field :g_canonical_link %>
  </div>

  <div class="field">
    <%= f.label :g_image_thumbnail %>
    <%= f.text_field :g_image_thumbnail %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
