<% content_for(:buttons) do %>
  <%= link_to :back, class: 'btn btn-default' do %>
    <%= fa_icon("reply") %>
    Discard
  <% end %>
  <%= link_to sti_subject_path(@type, @subject), class: 'btn btn-default' do %>
    <%= fa_icon("eye") %>
    View
  <% end unless @subject.new_record? %>
<% end %>
  
<%= simple_form_for @subject, html: { class: 'form-horizontal' },
  wrapper: :horizontal_form do |f| %>
  <% if @subject.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(subject.errors.count, "error") %> prohibited this subject from being saved:</h2>

      <ul>
      <% subject.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="row">
  <%= content_tag :div, class: "col-md-12" do %>
    <%= f.input :parent_id, collection: Subject.where(type: f.object.has_parent), label_method: :full_entry, 
      value_method: :id, input_html: {id: 'parent_entry_id'} %>
      
    <%= f.input :volume %>
    
    <p>... or add a new parent -> build</p>
  <% end if f.object.has_parent %>
  </div>
  
  <%= render "form_fields", f: f %>

  <div class="row>  
  <%= content_tag :div, class: "col-md-12" do %>
    <div id="children">
      <strong>Contents of this <%= @type %>: </strong>
      <%= f.simple_fields_for :children do |c| %>
        <%= render 'form_fields', f: c %>
      <% end %>
      <div class="links">
        <%= link_to_add_association fa_icon('plus-square', text: 'add contents'), f, :children, partial: "form_fields" %>
      </div>
    </div>
  <% end if f.object.has_children %>

  <div class="col-md-12 ">
    <hr>
    <%= f.submit class: 'btn btn-default' %>
  </div>
  </div>
<% end %>
