<%= simple_form_for @subject, html: { class: 'form-horizontal' },
  wrapper: :horizontal_form do |f| %>
  <div class="col-md-12 ">
    <% if @subject.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(subject.errors.count, "error") %> prohibited this subject from being saved:</h2>
  
        <ul>
        <% subject.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
  
  
    <div class="row">
      <%= content_tag :div, class: "col-md-12" do %>
        <% if Subject.has_serie.include?(@type) %>
          <%= f.input :serie_name, collection: Serie.order(name: :asc), label_method: :name_abbr, 
            value_method: :name_abbr, include_blank: true, label: "Serial or Journal", 
            selected: @subject.serie.try(:name_abbr), input_html: {id: 'serie_name'}, 
            hint: 'To add new series write abbr#full-name' %>
          <%= f.input :volume %>
        <% end %>
        <% if Subject.child_types.include?(@type) %>
          <% if params[:parent_id] %>
            <div class="col-md-9 col-md-offset-3">
              <%= content_tag :h4, link_to(@subject.parent.full_entry, @subject.parent) %>
              <%= f.hidden_field :parent_id, value: @subject.parent.id %>
            </div>
          <% else %>
            <%= f.input :parent_id, collection: Subject.where(type: @subject.has_parent), label_method: :full_entry, 
              value_method: :id, input_html: {id: 'parent_entry_id'} %>
          <% end %>
        <% end %>
        <br />
      <% end %>
    </div>
  
    <div class="row">
      <div class="col-md-12">
        <%= f.hidden_field :type, value: @type if @type != "Subject" %>
        <%= f.input :type, collection: Subject.types.map {|t| [t, t.camelcase]}, selected: @type, 
          disabled: @type != "Subject" %> 
      </div>
      <div class="col-md-12">
        <%= f.input :creator_list, collection: @creators, label_method: :rname, 
          value_method: :rname, label: @subject.creator_type, selected: @subject.creators.map(&:rname), 
          input_html: {multiple: true, id: 'creator_names'}, hint: '"Last name, first name", multiple seperated by semicolon.' %>
        <%= f.input :published_date, input_html: {value: @subject.published_date.blank? && @subject.parent ? @subject.parent.published_date : @subject.published_date} %>
        <%= f.input :title %>
        <%= f.input :subtitle, hint: 'Title and subtitle should end with punctuation.' %>
        <%= f.input :tag_list, collection: Tag.order(name: :asc), label_method: :name, 
          value_method: :name, selected: @subject.tags.map(&:name), 
          input_html: {multiple: true, id: 'tag_names'} %>
  
        <div class="row">
          <div class="col-md-6">
            <%= f.input :publisher, collection: Publisher.order(name: :asc), label_method: :name, 
              value_method: :name, include_blank: true, label: "Publisher", selected: @subject.publisher.try(:name), 
              input_html: {id: 'publisher'} %>
          </div>
          <div class="col-md-6">
            <%= f.input :place, collection: Place.order(name: :asc), label_method: :name, value_method: :name, 
              include_blank: true, label: "Place", selected: @subject.place.try(:name), input_html: {id: 'place'} %>
          </div>
        </div>  
      </div>
    </div>
    
    <div class="row">
      <div class="col-md-6">
        <%= f.input :first_page %>
        <%= f.input :last_page %>
        <%= f.input :page_count %>
      </div>
    
      <div class="col-md-6">
        <%= f.input :abbr %>
        <%= f.input :edition %>
        <%= f.input :language %>
      </div>
    </div>
      
    <did class="row">
      <div class="col-md-12">
        <div id="identifiers">
          <strong>Other Identifiers: </strong>
          <%= f.simple_fields_for :identifiers do |id| %>
            <%= render 'identifier_fields', f: id %>
          <% end %>
          <div class="links">
            <%= link_to_add_association fa_icon('plus-square', text: 'add identifier'), f, :identifiers %>
          </div>
        </div>
      </div>

      <div class="col-md-12">
        <div id="comments">
          <strong>Comments: </strong>
          <%= f.simple_fields_for :comments do |id| %>
            <%= render 'comment_fields', f: id %>
          <% end %>
          <div class="links">
            <%= link_to_add_association fa_icon('plus-square', text: 'add comment'), f, :comments %>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <hr>
        <%= f.submit class: 'btn btn-primary' %>
        <%= link_to 'Cancel', (@subject.new_record? ? sti_subject_path(@type) : sti_subject_path(@type, @subject)), class: "btn btn-default" %>
      </div>
    </div>
  </div>

<% end %>
