<% title "Subjects", false %>

<div class="row">
  <div class="col-md-12" style="margin:10px 0;">
    <%= render "shared/search" %>
    <%= link_to 'Advanced Search', "#filter-fields", data: {toggle: 'collapse'} %>
  </div>
</div>

<div class="row">
  <div class="col-md-7">
    <div class="collapse" id="filter-fields">
      <div class="well">
      filter & sort
      </div>
    </div>
    <div class="list-group">
      <% @subjects.each do |subject| %>
        <%= link_to subject, remote: !browser.device.mobile?, class: "list-group-item" do %>
          <strong><%= subject.cite %></strong><br/>
          <%= subject.full_entry %>
        <% end %>
      <% end %>
    </div>

    <div>
      <%= will_paginate @subjects, renderer: BootstrapPagination::Rails %>
    </div>

    <div style="margin-top: 20px; margin-bottom: 10px;">
      <%= render 'shared/per_page' %>
    </div>
  </div>

  <div class="col-md-5">
    <%= content_tag :div do %>
      <% if Subject.parent_types.include?(@type) %>
        <%= link_to sti_subject_path(@type, nil, :new), class: 'btn btn-success' do %>
          <%= fa_icon("plus") %>
          <%= @type %>
        <% end %>
      <% elsif !Subject.child_types.include?(@type) %>
        <div class="btn-group" style="margin-bottom: 10px;">
          <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <%= fa_icon("plus") %> New <span class="caret"></span>
          </button>
          <ul class="dropdown-menu">
            <% for ptype in Subject.parent_types do %>
              <%= content_tag :li, link_to(ptype, sti_subject_path(ptype, nil, :new)) %>
            <% end %>
            <li role="separator" class="divider"></li>
            <% for ctype in Subject.child_types do %>
              <%= content_tag :li, link_to(ctype, sti_subject_path(ctype, nil, :new)) %>
            <% end %>       
          </ul>
        </div>
      <% end %>
      <%= content_tag :div, class: 'pull-right' do %>
        <%= link_to fa_icon('download', text: 'CSV'), subjects_path(q: params[:q], format: "csv"), class: 'btn btn-default btn-sm', 'data-no-turbolink': true %>
        <%= link_to fa_icon('download', text: 'Excel'), subjects_path(q: params[:q], format: "xls"), class: 'btn btn-default btn-sm', 'data-no-turbolink': true %>
      <% end if @type.present? %>
    <hr>
    <% end if current_user %>

    <%= content_tag :div, id: "show-target", data: {spy: ('affix' if !browser.device.mobile?), 'offset-top': "60"} do %>
      <%= render partial: 'subjects/show', locals: { subject: @subjects.first }%>
    <% end %>
  </div>
</div>