<p id="notice"><%= notice %></p>

<% title "#{@type.pluralize}" %>
<% content_for(:buttons) do %>
  <%= link_to sti_subject_path(@type, nil, :new), class: 'btn btn-default' do %>
    <%= fa_icon("plus") %>
    <%= "New #{@type}" %>
  <% end %>
<% end %>

<%= link_to 'See all subjects', sti_subject_path %>
<table class="table table-bordered table-responsive">
  <thead>
    <tr>
      <th>Cite</th>
      <th>Title</th>
    </tr>
  </thead>

  <tbody>
    <% @subjects.each do |subject| %>
      <tr>
        <td>
          <%= link_to subject.cite, sti_subject_path(subject.type, subject) %><br/>
          <small><%= link_to subject.type, sti_subject_path(subject.type) %></small>
        </td>
        <td>
          <%= subject.full_entry %>
          <%= link_to(fa_icon("edit"), sti_subject_path(subject.type, subject, :edit), class: 'pull-right') %>
        </td>

      </tr>
    <% end %>
  </tbody>
</table>
