<p id="notice"><%= notice %></p>

<% title "#{@subject.cite}" %>
<% content_for(:buttons) do %>
  <%= link_to sti_subject_path(@subject.type, @subject, :edit), class: 'btn btn-default' do %>
    <%= fa_icon("edit") %>
    <%= "Edit" %>
  <% end %>
  <%= link_to @subject, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-default' do %>
    <%= fa_icon("remove") %>
    <%= "Delete" %>
  <% end %>
<% end %>
<div class="row">
  <div class="col-md-12">

    <ol class="breadcrumb">
      <%= content_tag :li, link_to(@subject.root.type.pluralize, sti_subject_path(@subject.root.type)) %>
      <%= content_tag :li, link_to(@subject.serie.abbr, subjects_path(serie: @subject.serie.id)) if @subject.serie %>  
      <% @subject.ancestors.reverse.each do |e| %>
        <%= content_tag :li, link_to(e.cite, e) %>
      <% end %>
      <%= content_tag :li, @subject.cite, class: 'active' %>
    </ol>
    <%= content_tag :p, link_to(@subject.slug, @subject) %>    
  </div>
</div>

<div class="row">
  <div class="col-md-8">
    <%= content_tag :h3, @subject.full_entry %>
    <%= content_tag :p, truncate(@subject.g_description, length: 240, separator: ' ') %>
    <table class="table table-striped">
      <tbody>
        <%= content_tag :tr do %>
          <th><%= @subject.creator_type %>:</th>
          <td><%= @subject.creators.map{|c| link_to c.name, subjects_path(lname: c.lname, fname: c.fname)}.join(', ').html_safe %></td>
        <% end if @subject.creators.any? %>

        <%= content_tag :tr do %>
          <th>Title:</th>
          <td><%= @subject.title %></td>
        <% end if @subject.title.present? %>
        <%= content_tag :tr do %>
          <th>Subtitle:</th>
          <td><%= @subject.subtitle %></td>
        <% end if @subject.subtitle.present? %>
        <%= content_tag :tr do %>
          <th>In:</th>
          <td><%= link_to @subject.parent.full_entry, @subject.parent %></td>
        <% end if @subject.child? %>
        <%= content_tag :tr do %>
          <th>Serial or Journal:</th>
          <td>
            <%= link_to subjects_path(serie: @subject.serie.id) do %>
              <%= @subject.serie.try(:name) %>
              <%= "(#{@subject.serie.abbr})" if @subject.serie.abbr %>
            <% end %>
            <%= @subject.volume %>
          </td>
        <% end if @subject.root? && @subject.serie %>
        
        <%= content_tag :tr do %>
          <th>Published date:</th>
          <td><%= @subject.published_date %></td>
        <% end if @subject.published_date.present? %>
        
        <%= content_tag :tr do %>
          <th>First page:</th>
          <td><%= @subject.first_page %></td>
        <% end if @subject.first_page.present? %>
        <%= content_tag :tr do %>
          <th>Last page:</th>
          <td><%= @subject.last_page %></td>
        <% end if @subject.last_page.present? %>
        <%= content_tag :tr do %>
          <th>Page count:</th>
          <td><%= @subject.page_count %></td>
        <% end if @subject.page_count.present? %>
        
        <%= content_tag :tr do %>
          <th>Abbr:</th>
          <td><%= @subject.abbr %></td>
        <% end if @subject.abbr.present? %>
        <%= content_tag :tr do %>
          <th>Edition:</th>
          <td><%= @subject.edition %></td>
        <% end if @subject.edition.present? %>
        <%= content_tag :tr do %>
          <th>Language:</th>
          <td><%= @subject.language %></td>
        <% end if @subject.language.present? %>
        <%= content_tag :tr do %>
          <th>Publisher:</th>
          <td><%= @subject.publisher.try(:name) %></td>
        <% end if @subject.publisher.present? %>
        <%= content_tag :tr do %>
          <th>Place:</th>
          <td><%= @subject.place.try(:name) %></td>
        <% end if @subject.place.present? %>
        <%= content_tag :tr do %>
          <th>Contents:</th>
          <td>
            <% for child in @subject.children do %>
              <div class="well">
                <%= link_to child.full_entry, child %>
              </div>
            <% end %>
            <%= link_to(fa_icon("plus-square-o"), new_subject_path(parent_id: @subject.id), class: 'pull-right') %>
          </td>
        <% end if @subject.has_children %>
      </tbody>
    </table>

  </div>

  <div class="col-md-3 col-md-offset-1">
    <%= content_tag :div, class: "thumbnail" do %>
      <%= image_tag @subject.g_image_thumbnail, class: 'img-responsive', style: 'width: 100%' %>
      <div class="caption">
        <h4><%= @subject.g_volume_id %></h4>
        <p>Description for <%= @subject.g_volume_id %></p>
        <p><%= link_to 'Auf Google Books ansehen', @subject.g_canonical_link %>
        </p>
      </div>
    <% end if @subject.g_volume_id %>
    
      
    <p>
      <strong>other ids:</strong>
      <%= @subject.identifiers.map{|i| "#{i.ident_name}: #{i.ident_value}"} %>
    </p>
  </div>
</div>