<% title "Subject Import" %>

<p>A CSV or Excel file can be used to import records. The first row should be the column name. The following columns are allowed.</p>

<ul>
  <% Subject.columns.each do |column| %>
    <% if column.name.in? ["id", *SubjectImport.col_attr] %>
      <li>
        <strong><%= column.name %></strong> -
        <%= column.type.to_s.titleize %> type
      </li>
    <% end %>
  <% end %>
    <li>
      <strong>creator_list</strong> -
      Token type (firstname lastname, different creators seperated by comma)
    </li>
    <li>
      <strong>tag_list</strong> -
      String type (different tags seperated by comma)
    </li>
    <li>
      <strong>place</strong> -
      String type
    </li>
    <li>
      <strong>publisher</strong> -
      String type
    </li>
    <li>
      <strong>serie_name</strong> -
      String type (abbr#full)
    </li>
    <li>
      <strong>parent</strong> -
      String type <code>cite</code>
    </li>

</ul>

<p>If an <strong>id</strong> is supplied it will update the matching record instead of creating a new one.</p>

<%= form_for @subject_import do |f| %>
  <% if @subject_import.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@subject_import.errors.count, "error") %> prohibited this import from completing:</h2>
      <ul>
      <% @subject_import.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.file_field :file %>
  </div>
  <div class="buttons"><%= f.submit "Import" %></div>
<% end %>