<!DOCTYPE html>
<html>
  <head>
    <title>Literature</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <%= link_to 'literature.babylon-online.org', root_url, class: "navbar-brand" %>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to 'Advanced Search', '' %>
            <li><a href="#">Settings</a></li>
            <li><a href="#">Help</a></li>
            <li><a href="#">Logout</a></li>
          </ul>
          <%= form_tag sti_subject_path, :method => 'get', class: "navbar-form navbar-right" do %>
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-search fa-fw" aria-hidden="true"></i></span>
              <%= search_field_tag :q, params[:q], placeholder: "Search", class: "form-control" %>
            </div>
            
          <% end %>
          
        </div>
      </div>
    </nav>

    <div class="container-fluid" style="margin-top: 60px;">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-pills nav-stacked">
            <%= content_tag :li, link_to('Overview', root_url), class: ('active' if current_page?(root_url)) %>
            <li><a href="#">Analytics</a></li>
          </ul>
          <hr>
          <ul class="nav nav-pills nav-stacked">
            <%= content_tag :li, link_to('All subjects', sti_subject_path), class: ('active' if @type.present? && @type == 'Subject') %> 
            <li><%= 'name filter active' if params[:lname] %></li>
            <li><%= 'search active' if params[:q] %></li>
            <li role="presentation" class="dropdown <%= ('active' if @type.present? && @type != 'Subject') %>">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                Subject Types <span class="caret"></span>
              </a>
              <ul class="dropdown-menu">
                <% for type in Subject.types do %>
                  <%= content_tag :li, link_to(type, sti_subject_path(type), class: ('active' if @type.present? && @type == type)) %>
                <% end %>
              </ul>
            </li>
          </ul>
          <hr>
          <ul class="nav nav-pills nav-stacked">
            <li><a href="">Import</a></li>
            <li><a href="">Export</a></li>
            <li><a href="">API</a></li>
          </ul>
        </div>
        
        <div class="col-sm-8 col-sm-offset-1 col-md-9 col-md-offset-1 main">
          <div class="page-header">
            <h1 class="">
              <%= yield(:title) if content_for?(:title) %>
              <div class="pull-right">
                <%= yield(:buttons) if content_for?(:buttons) %>
              </div>
            </h1>
          </div>
          <%= yield %>
        </div>
      </div>
    </div>

  </body>
</html>
